<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{asset('build/css/main.css')}}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    <div id="react-container">

    {% block body %}
        {{ redux_store('appStore', {}) }}
        {{ react_component('App') }}
        {% endblock %}

    </div>
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
